<!-- {% extends "starling/base.html" %}

{% block body %}
<a class="navigation" align="left" href="{% url 'index' %}">Back to Customer Selection</a>
<br>


<div class="jumbotron" id="jumbo">
  <form action="{% url 'create_goal' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">

    <label for="create" id="createLabel">Customer: {{customer.name}} - Account Balance:
      <script balance="{{balance.minorUnits}}">
      var value = document.currentScript.getAttribute('balance');
      function formatNumber (value) {
        var v = value/100;
        return Number(v).toLocaleString('en-US', { style: 'currency', currency: 'GBP' });
      };
      document.querySelector("#createLabel").append(formatNumber(value));
    </script>
    </label>
          <hr class="mb-4">
    <h4 class="mb-3" id="create">Create a Savings Goal</h4>

      <div class="col-md-6 mb-3">
              <label for="goalName">Goal name</label>
              <input type="text" class="form-control" id="goalName" name="goalName" placeholder="e.g. Trip to Paris" value="" required>
        <div class="invalid-feedback">
          Goal name is required.
        </div>
      </div>

      <div class="col-md-6 mb-3">
              <label for="goal">Goal (£)</label>
              <input type="currency" min="0"  class="form-control" id="goal" name="goal" placeholder="£0.00" required>
              <!-- https://stackoverflow.com/questions/34057595/allow-2-decimal-places-in-input-type-number/34057860-->

        <!-- <div class="invalid-feedback">
          Goal is required.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <button type="submit" class="btn btn-secondary btn-block" value="Add Goal">Add Goal</button>
      </div>
    </div>
  </form>
</div>

{% load static %}
<script src="{% static 'starling/currency.js' %}"></script>

{% endblock %} --> -->
