{% extends "starling/base.html" %}

{% block body %}

<div class="jumbotron" id="jumbo">

  <div class="mb-3">
    This is app interacts with <a href="https://www.starlingbank.com/">Starling Bank</a>'s API.
    For some dummy customers, it will show their respective account balances and plays with Starling Bank's
    Savings Goal featuere, which can be set for each bank account, seen saved towards to or removed.
    Visit
    <a href="https://www.starlingbank.com/features/goals/">Starling Bank</a> for the 'real-life' product.
  </div>


<div class="col-md-5 mb-3">
  <label for="customer">To view someone's account details, ...</label>

      <form action="{% url 'customer_info' %}" method="post">
          {% csrf_token %}
        <div class="input-group mb-3">

          <select class="custom-select" id="customer" name="customer" required>
            <option selected>... choose a sample customer</option>
            {% for c in customers %}
            <option value="{{ c.customer_id }}">{{ c.name }}</option>
            {% endfor %}
          </select>
          <div >
            <button type="submit" class="btn btn-secondary">Select</button>
          </div>
          <div class="invalid-feedback">
            Please select a customer.
          </div>
        </div>
      </form>

  </div>
</div>
{% endblock %}
